<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>index - Vue Webpack Example</title>
  <!-- webpack会将入口JS文件引入的CSS或者vue组件中的css生成style标签或者生成独立的css文件并使用Link标签加载它 -->
<link href="/Public/resource/home/css/Purchase/index.b755f57dd0a6a973848c9a3348922d9c.css" rel="stylesheet"></head>
<body>
<app></app>
<!-- webpack的HtmlWebpackPlugin插件会根据入口JS文件生成script标签并插入在这里或实现按需加载 -->
<script type="text/javascript" src="/Public/resource/home/js/manifest.8e5072e231ecb919950e.js"></script><script type="text/javascript" src="/Public/resource/home/js/vendor.92b7db8355466c8db9e9.js"></script><script type="text/javascript" src="/Public/resource/home/js/Purchase/index.28d9420167ca52246c4e.js"></script></body>
</html>
